%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src="#{@video.large_cover_url}")
      .video_info.span3
        %header
          %h3= @video.title
          %span Rating: #{@video.reviews.count > 0 ? @video.average_rating.to_s + "/5.0" : "Not yet rated."}
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="#{@video.video_link}") Watch Now
          - if current_user.queue_items.where(video_id: @video.id).first == nil
            = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn'

%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for [@video, Review.new] do |f|
        %fieldset
          = f.select :rating, options_for_video_rating, label: "Rate this video"
          = f.text_area :review_text, label: "Write a review", class: "span6", rows: 6
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @reviews.each do |r|
          %article.review
            %li.row
              .span2
                %span Rating: #{r.rating} / 5
                %p
                  by
                  = link_to r.user.full_name, r.user
              .span8
                %p #{r.review_text}
